body {
  margin: 0;
  background-color: #e85d54;
  color: white;
  font-family: "Ubuntu";
  text-align: center;
}

h1 {
  margin: 150px 0 0 0 ;
  display: inline-block;
  font-size: 60px;

}

.tomato {
  width: 150px;
  position: relative;
  left: 30px;
}

.timer {
  font-size: 7rem;
}

.button {
  width: 280px;
  padding: 5px 10px;
  font-size: 30px;
  margin: 30px;
}
